body {
    background-color: #d1d1d1;
    font-family: Arial, Helvetica, sans-serif;
}
.main_container {
    background-color: #fff;
    margin: auto;
    width:960px;
    
}
.header {
    background-image: url(images/header_bg.gif);
    background-repeat: no-repeat; /*Устанавливает одно фоновое изображение в элементе без его повторений, положение которого определяется свойством background-position (по умолчанию в левом верхнем углу)*/
    background-position: center top; /*top = top center = center top = 50% 0% (по центру вверху)*/
    background-size: contain; /*Масштабирует изображение с сохранением пропорций таким образом, чтобы картинка целиком поместилась внутрь блока.*/
    height: 300px;
    }


.info {    
    width:80%;
    margin: 0 auto;
    font-size: 30px;
    line-height: 50px;
    margin-top: 100px;
}


h3 {
    text-align: center;
}

.container2, .container3, .container4 {
    width: 80%;
    height: 555px;
    margin: 0 auto;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 50px;
    margin-top: 50px;
    overflow: hidden;
    
}
.container3 {
    text-align: center;     
}

.container2 div {
    width: 46%; 
    height:450px;   
}

.ginekologist {
    float: left;
    
}
.teeth_clean {    
    float: right;
}

img {
    width: 100%;
    max-height: 300px;
}

.button_request {
    color: #fff;
    background: #cf5b4e;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
}

.container3 div {
    display: inline-block;
    width: 30%;
    height: 450px;
}

.cardiologist {
    float: left;
}

.ultrasonography {
    float: right;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.container4 input {
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer {
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}

.footer a {
    color:#fff;
}